body{
	font-weight: bold;
	text-align: center; 
    background: #FFF;
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    align-items: center;
}

.nav{
	padding-top: 20px;
	position: fixed;
    top: 0px;
	background-color: #FFC90E;
	display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}
.footer{
	padding-top: 20px;
	position: absolute;
    bottom: 0px;
	background-color: #ED1C24;
	display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}
.box{
	padding-top: 20px;
	height: 150px;
	width: 100%;
}
.block{
	background-color: #B5E61D;
	width: 200px;
	height: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
}
.block1{
	background-color: #ED1C24;
	margin-left: 10px;
	margin-right: 50px;
	position:absolute;
	left: 35%;
	top: 35%;
    width: 200px;
    height: 10%;
}
.block2{
	margin-left: 30px;
	margin-right: 10px;
	position: absolute;
    left: 47%;
    top: 30%;
    width: 200px;
    height: 10%;
}
.content{
	margin:auto;
	width: 700px;
    min-height: calc(100vh - 160px);
	padding-top: 20px;
	background-color: #FF7F27;

    text-align: center;

#	width: 400px;
#	height: 400px;
#	margin-top: 0px;
	border: 2px solid #FFC90E;
}